name: "Reusable Docker Build Workflow"
permissions:
  contents: read
on:
  workflow_call:
    inputs:
        opensearch-tag:
            type: string
            required: true
            description: "Tag in the opensearch-project/OpenSearch repository"
        docker-test:
            type: boolean
            description: "Whether to run docker image tests after build"
            required: false
            default: true
env:
  custom_image_name: "ghcr.io/${{ github.repository_owner }}/opensearch"
  default_custom_tag: "${{ inputs.opensearch-tag }}-custom-patches"
  opensearch_tag: "${{ inputs.opensearch-tag }}"
jobs:
  build-and-push-docker:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout openserch-project/opensearch-build"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          repository: opensearch-project/opensearch-build
          ref: main
          path: opensearch-build
      - name: "Download OpenSearch build artifacts"
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
        with:
          path: ${{ github.workspace }}/opensearch-build/tar/dist/
      - name: "Find the OpenSearch tarball"
        id: find-tarball
        run: |
          TARFILE=$(find "${GITHUB_WORKSPACE}/opensearch-build/tar/dist/" -name 'opensearch-*.tar.gz' | sort | xargs | sed 's/ /, /g')
          if [ -z "$TARFILE" ]; then
            echo "Error: OpenSearch tarball not found!"
            exit 1
          fi
          echo "TARFILE=$TARFILE" >> $GITHUB_ENV
          echo "Found tarball(s): $TARFILE"
      - name: "Setup QEMU"
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130  # v3.7.0
        with:
          platforms: all
      - name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435  # v3.11.1
      - name: "Login to GitHub Container Registry"
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef  # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: "Build and push Docker image"
        run: |
          cd ${GITHUB_WORKSPACE}/opensearch-build/docker/release
          sed -i 's/TARBALL=`realpath $OPTARG`/TARBALL=`realpath -z $OPTARG`/' ./build-image-multi-arch.sh
          chmod +x ./build-image-multi-arch.sh
          ./build-image-multi-arch.sh -v ${default_custom_tag,,} -f ./dockerfiles/opensearch.al2.dockerfile -p opensearch -a "arm64,x64" -t "${TARFILE}" -r ghcr.io/${GITHUB_REPOSITORY_OWNER,,}/opensearch

  docker-image-tests:
    name: "${{ matrix.platform.architecture }} Docker Image Tests"
    needs: build-and-push-docker
    strategy:
      fail-fast: false
      matrix:
        platform:
          - name: ubuntu-24.04-arm
            architecture: arm64
          - name: ubuntu-latest
            architecture: amd64
    runs-on: ubuntu-latest
    steps:
      - name: "Pull and test Docker image"
        run: |
          if [ "${{ inputs.docker-test }}" != "true" ]; then
            echo "Docker tests are disabled. Skipping."
            exit 0
          fi
          echo "Running tests on Docker image ${custom_image_name}:${default_custom_tag,,}..."
          docker run -d --rm --name ops-test -p 9200:9200 -p 9600:9600 -e OPENSEARCH_INITIAL_ADMIN_PASSWORD=InItIaL$tr0ngPa$$w0rd -e "discovery.type=single-node" ${custom_image_name}:${default_custom_tag,,}
          sleep 120
          docker logs ops-test | grep "Cluster health status changed from \[YELLOW\] to \[GREEN\]"
          echo "Docker image test passed successfully."
          docker stop ops-test
